:root {
  --color-secondary-3-50: rgba(170, 170, 170, 0.5);
  --color-secondary-3: #aaaaaa;
  --color-secondary-2-50: rgba(170, 170, 170, 0.5);
  --color-secondary-2: rgba(170, 170, 170, 0.5);
  --color-secondary-1: #262626;
  --color-secondary: #333333;
  --color-white: #ffffff;
  --color-gradient: linear-gradient(102.25deg, #fb0234 40.65%, #ff8f01 88.29%);
}

body {
  width: 300px;
  padding: 24px;
  background-color: var(--color-secondary);
  color: var(--color-white);

  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
